*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

:root{
    --primary:#2563eb;
    --secondary:#1d4ed8;
    --dark:#0f172a;
    --text:#475569;
    --bg:#f8fafc;
    --white:#ffffff;
}

body{
    background:var(--bg);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 2px 20px rgba(0,0,0,.05);
}

.logo{
    font-size:30px;
    font-weight:800;
    text-decoration:none;
    color:var(--dark);
}

.logo span{
    color:var(--primary);
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:var(--text);
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:var(--primary);
}

.btn-login{
    text-decoration:none;
    background:var(--primary);
    color:white;
    padding:12px 24px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.btn-login:hover{
    background:var(--secondary);
}

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    padding